
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


#my-logo{
font-family: Caveat;
font-weight: bold;
font-size: x-large;
color: rgb(144, 252, 225);
}

#first-division{
display: flex;
justify-content: space-evenly;
}



#eat-fresh{
font-family: Noto Sans JP;
}

#form1{
background-color: cornsilk;
height: 200px;
padding-left: 28%;
}

.nav-link{
margin-left: 50px;
}



#carousel{
color: black;
font-family: Noto Sans JP;
font-weight: bolder;
font-size: xxx-large;
background-color: white;
}

#carousel1{
color: black;
font-weight: bolder;
font-family: Noto Sans JP;
font-size: xxx-large;
background-color: white;
}

#carousel2{
color:  black;
font-weight: bolder;
font-size: xxx-large;
background-color: white;
}


