
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

#my-logo{
font-family: Caveat;
font-weight: bold;
font-size: x-large;
color: rgb(144, 252, 225);
}

#eat-fresh{
font-family: Noto Sans JP;
}

#carousel{
color: black;
font-family: Noto Sans JP;
font-weight: bolder;
font-size: xxx-large;
border-radius: 10%;
background-color: whitesmoke;
}

#carousel1{
color: black;
font-weight: bolder;
font-family: Noto Sans JP;
border-radius: 10%;
font-size: xxx-large;
background-color: whitesmoke;
}

#carousel2{
color:  black;
background-color: whitesmoke;
font-weight: bolder;
font-size: xxx-large;
border-radius: 10%;
font-family: Noto Sans JP;
}

#second-div{


width: 100%;

}



